# Chatbot
CHAT_URL=https://pc-fe-dev.noctocode.dev
API_BASE_URL=https://pc-be-dev.noctocode.dev
API_EMAIL=your-email-here
API_PASSWORD=your-password-here

# SaaS dashboard
SAAS_URL=https://chat.paicloud.ai
SAAS_EMAIL=your-saas-email-here
SAAS_PASSWORD=your-saas-password-here

# AI evaluation
GROQ_API_KEY=your-groq-key-here