# Chatbot
CHAT_URL=https://pc-fe-dev.noctocode.dev
API_BASE_URL=https://pc-be-dev.noctocode.dev
API_EMAIL=your-email-here
API_PASSWORD=your-password-here

# SaaS dashboard
SAAS_URL=https://chat.paicloud.ai
SAAS_EMAIL=your-saas-email-here
SAAS_PASSWORD=your-saas-password-here

# Subtitles
SUBTITLES_URL=https://subtitles-dev.paicloud.ai
SUBTITLES_API_URL=https://subtitles-api-dev.paicloud.ai/api
SUBTITLES_ADMIN_EMAIL=your-subtitles-admin-email-here
SUBTITLES_ADMIN_PASSWORD=your-subtitles-admin-password-here
SUBTITLES_QA_EMAIL=your-subtitles-qa-email-here
SUBTITLES_QA_PASSWORD=your-subtitles-qa-password-here
SUBTITLES_QA_TENANT_ID=your-tenant-id-here
SUBTITLES_NO_TENANT_EMAIL=your-no-tenant-email-here
SUBTITLES_NO_TENANT_PASSWORD=your-no-tenant-password-here

# AI evaluation
GROQ_API_KEY=your-groq-key-here